.hi{

    color: orange;
}

h1{
    font-size: 50px;

}

body{
    margin:0px;
    font-family: 'Poppins', sans-serif;   
}

.half-width{
    
    float: left;
    width: 40%;
    margin: 4%;
    padding: 1%;
}  
.half-width img{
  
    width: 100%;  
}
.backgriund{

    background-image: url("images/top-banner.png");
}

section{

    height: 500px;
    background-repeat: no-repeat;   
}
.button{

    text-decoration: none;
    color: black;
    font-weight:bolder;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(235, 125, 22, 0.534),rgb(247, 110, 31) );
}
p{
    font-weight:bolder;
}

.Right-width{
    
    float: right;
    width: 40%;
    margin: 4%;
    padding: 1%;
}  
.Right-width img{
  
    width: 100%; 
}
.BG{
    
    background-image: url("images/dream-bg.png");
    background-position: right;
    
    
}

.CLICK{

    text-decoration: none;
    color: black;
    font-weight:bolder;
    padding: 10px 60px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(235, 125, 22, 0.534),rgb(247, 110, 31) );
}
.BOLD{
    
    font-weight:bolder;
    font-size: 30px;
    color:black;



}
#xxx{
    font-weight:bolder;
    color: rgb(223, 146, 47);
}
.lastimg{

    background-image: url("images/dream-bg.png");
    background-position: right;
    
}
.BOX{

    float: left;  
    margin:5%;
    padding:1%;
    width: 37%;
    height: 30;
    box-shadow:10px 10px 50px 20px rgb(214, 210, 210);
    
}

#box-one{

    border-left: 7px solid;
    border-image: linear-gradient(rgba(187, 121, 224, 0.534),rgb(136, 5, 197) );
    border-image-slice: 1;
    background-color: white;
}

#box-two{

    border-left: 8px solid;
    border-image: linear-gradient(rgba(15, 139, 221, 0.534),rgb(9, 23, 214) );
    border-image-slice: 1;
}
.lasbackground{

    background-image: url("images/exp-bg.png");
    background-position: left;

}
.footer{

    text-align: center;
    font-weight: bolder;
}